// DEFINE SIZES
$font-size-global: 1rem;

// DEFINE COLORS
$text-dark: hsl(0, 12%, 12%);
$text-white: hsl(0, 12%, 95%);
$text-danger: hsl(0, 60%, 50%);

$bg-color1: hsl(0, 12%, 90%);
$bg-color2: hsl(0, 10%, 15%);
$bg-color3: hsl(120, 80%, 70%);